@charset "UTF-8";

@font-face {
    font-family: 'caveat';
    src: url('../ex023/fonte/Caveat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-attachment: fixed;
    margin: auto;
    font-family: 'caveat';
}

main{
    font-family: 'caveat', Verdana, Tahoma, sans-serif;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
    color: white;
    background-color: black;
    padding: 20px;
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header > p {
    font-size: large;
}

p{
    font-size: 300%;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
div{
    padding: 20px;
    padding-bottom: 40px;
}
.p2{
    color: white;
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

.p4{
    color: white;
    background-color: black;
    background-size: 100%;
    background-position: center center;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;

}

.p4 > p {
    
    
}