@charset "UTF-8";

@font-face {
    font-family: 'caveat';
    src: url('../ex023/fonte/Caveat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

body{
    background-attachment: fixed;
    margin: auto;
    font-family: 'caveat';
}

main{
    font-family: 'caveat', Verdana, Tahoma, sans-serif;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
    color: white;
    background-color: black;
    padding: 20px;
    padding-top: 50px;
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header > h1 {
    font-variant: small-caps;
}

header > p {
    font-size: large;
    padding-bottom: 50px;
}

p{
    font-size: 300%;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
}

.p1, .p3, .p5 {
    background-color: white;
}
.p2{
    color: white;
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.p4{
    color: white;
    background-color: black;
    background-size: 100%;
    background-position: center center;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;

}

.p2 > p {
    background-color: rgba(0, 0, 0, 0.185);
    width: 500px;
}
.p4 > p {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.185);
}